<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Search Results for "{{keyword}}"</h1>
        <a target="_blank" href="/export?keyword={{keyword}}"> Export file </a>
      </hgroup>
      <table role="grid">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Company</th>
            <th scope="col">Region</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{job.position}}</td>
            <td>{{job.company}}</td>
            <td>{{job.region}}</td>
            <td>
              <a href="{{job.link}}" target="_blank"> Apply Now &rarr; </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
